<ion-view view-title="专业信息">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">1．软件技术专业（普通招生三年制）</div>
      <div class="item item-body">
        <div>
          （1）培养目标<br>
          校企共同培养能够掌握计算机系统和软件技术的基本知识、技能和方法，
          具有使用主流软件开发工具与技术进行项目开发的能力、具备良好职业素养、
          自主学习能力和项目实践经验，能从事基于WEB和移动互联网的软件开发、
          软件界面设计、软件测试与维护等相关工作岗位的软件行业高素质技术技能型人才。<br><br>

          （2）主干课程<br>
          学生自主选择以下某一岗位课程模块：<br>
          <1>.NET程序员<br>
          客户端编程、.NET 框架应用开发、.NET Web 应用系统开发、
          WP移动应用开发、软件项目开发与管理、综合项目实战。<br>
          <2>Java程序员<br>
          客户端编程、大型数据库系统应用开发、Java Web应用系统开发、
          基于框架的应用系统开发、软件项目开发与管理、综合项目实战。<br>
          <3>移动应用程序员<br>
          C++面向对象程序设计、IOS移动应用开发、移动终端跨平台游戏开发、Android移动应用开发、软件项目开发与管理、综合项目实战。</br>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
